@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  background-image: url(station.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
h1{
    margin: 1em 0 0;

}
h2{
    font-size: 3.125rem;
    /* margin-bottom: em; */
}
button{
    /* padding: 1em 3em; */
    text-transform: uppercase;
    border: none;
    color: #fff;
    display: block;
    width: 200px;
    padding: .625em 0;
    border-radius: 5px;
    margin: .5em auto;
    
}
#increment-btn{
    background-color: darkred;
}

#save-btn{
    background-color: darkgreen;
}
p{
    margin: 1em 0;
    font-weight: bold;
}
@media (min-width: 800px) {
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}